:root {
  --primary-color: #6a5acd;
  --primary-hover: #5a4abf;
  --accent-yellow: #fdfd96;
  --text-main: #2d2d2d;
  --text-muted: #a9a9a9;
  --bg-color: #f9f9fb;
  --card-bg: #ffffff;
  --border-color: #2d2d2d;
}

[data-theme="dark"] {
  /* Темна тема */
  --primary-color: #8a7bff;
  --primary-hover: #a59aff;
  --accent-yellow: #fdfd96;
  --text-main: #e0e0e0;
  --text-muted: #949494;
  --bg-color: #121212;
  --card-bg: #1e1e1e;
  --border-color: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--font-inter), sans-serif;
  line-height: 1.5;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
  padding-top: 80px;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-jakarta), sans-serif;
  letter-spacing: -0.02em;
}

.hero-title {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.code-accent {
  font-family: "Fira Code", monospace;
  background-color: var(--accent-yellow);
  padding: 2px 6px;
  border-radius: 4px;
}

.btnSketch {
  background-color: var(--primary-color);
  color: var(--white);
  border: 2px solid var(--text-main);
  padding: 10px 25px;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-weight: bold;
}

.btn-sketch:hover {
  background-color: var(--primary-hover);
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0px var(--accent-yellow);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

.section {
  padding: 80px 0;
  overflow: hidden;
}

.sectionTitle {
  font-family: var(--font-jakarta);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 3rem;
  position: relative;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sectionTitle::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: var(--accent-yellow);
  z-index: -1;
  opacity: 0.6;
  transform: skewX(-15deg);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-left: 2px solid var(--text-main);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-main);
  border: 2px solid var(--bg-color);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-yellow);
  cursor: grab;
}

@supports (-moz-appearance: none) {
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--text-main) var(--bg-color);
  }
}
